<a href="https://colab.research.google.com/github/castrostephano/CoinGeckoScrape/blob/main/CoinGeckoScrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#I chose these libraries because they are the most widely used webscrapping libraries for extracting data 
#I chose google colab because it is an easy to use interface that can be used with any computer
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
#I used this website because it provides its users with accurate data on most cryptocurrencies in the market
url = 'https://www.coingecko.com/'
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')
#I used the inspect tool and found that there is one table (hence find and not find_all) and it was the table-scrollable class
#there was one tbody (table body) and several tr's(table rows), hence the find_all 
results = soup.find('table', {'class': 'table-scrollable'}).find('tbody').find_all('tr')

In [5]:
#Coin name - I used the inspect tool to find where the coin name text is held
#[0] because i just want to grab all of the data points, then loop through the code
results[0].find('span',{'class':'lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip()

'Bitcoin'

In [6]:
# Coin Price
#inspecting each data point to get the class-technique used for the rest of the values- strip after get text to take out any html near the text
results[0].find('td', {'class':'td-price price text-right'}).get_text().strip()

'$20,267.87'

In [7]:
# 1Hr
results[0].find('td', {'class':'td-change1h change1h stat-percent text-right col-market'}).get_text().strip()

'3.1%'

In [8]:
# 24hr
results[0].find('td', {'class':'td-change24h change24h stat-percent text-right col-market'}).get_text().strip()

'5.3%'

In [9]:
# 7d
results[0].find('td', {'class':'td-change7d change7d stat-percent text-right col-market'}).get_text().strip()

'0.6%'

In [10]:
#24hr Volume
results[0].find('td', {'class':'td-liquidity_score lit text-right col-market'}).get_text().strip()

'$29,157,924,972'

In [11]:
#Market Cap
results[0].find('td', {'class':'td-market_cap cap col-market cap-price text-right'}).get_text().strip()

'$387,953,896,237'

In [12]:
#create empty lists to append to while looping

name = []
price = []
change_1h = []
change_24h = []
change_7d = []
volume_24h = []
market_cap = []

In [13]:
#Create a for loop to append all of the data points into the empty lists created above, using the same code from above
#(n/a) just in case it does not find a value

for result in results:
  try:
    name.append(result.find('span',{'class':'lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
  except:
    name.append('n/a')
  try:
    price.append(result.find('td', {'class':'td-price price text-right'}).get_text().strip())
  except:
    price.append('n/a')
  try:
    change_1h.append(result.find('td', {'class':'td-change1h change1h stat-percent text-right col-market'}).get_text().strip())
  except:
    change_1h.append('n/a')
  try:
    change_24h.append(result.find('td', {'class':'td-change24h change24h stat-percent text-right col-market'}).get_text().strip())
  except:
    change_24h.append('n/a')
  try:
    change_7d.append(result.find('td', {'class':'td-change7d change7d stat-percent text-right col-market'}).get_text().strip())
  except:
    change_7d.append('n/a')
  try:
    volume_24h.append(result.find('td', {'class':'td-liquidity_score lit text-right col-market'}).get_text().strip())
  except:
    volume_24h.append('n/a')
  try:
    market_cap.append(result.find('td', {'class':'td-market_cap cap col-market cap-price text-right'}).get_text().strip())
  except:
    market_cap.append('n/a')

In [ ]:
#create database with pandas- set up the columns inside of a dictionary {} with the first value in quotes as the column title, a colon :, and the value as the data in the rows

crypto_df = pd.DataFrame({'Coin':name,'Price':price,'Change_1h':change_1h,'Change_24h':change_24h,'Change_7d':change_7d, 'Volume_24h':volume_24h, 'Market Cap': market_cap})

In [15]:
#paginate through the first ten pages with another for loop
#If you wanted to get the data for 50 pages, then the range would be (1,51)


name = []
price = []
change_1h = []
change_24h = []
change_7d = []
volume_24h = []
market_cap = []

#creating another for loop to paginate through using the range function
for i in range (1,11):

  #concatenated with the numbers 1-10 in the loop through the i, which is what is iterating through the loop. need to make it a string, hence the str
  #after this edit to the code, everything else below is the same as above
  website = 'https://www.coingecko.com/?page=' + str(i)

  response = requests.get(website)

  soup = BeautifulSoup(response.content, 'html.parser')

  results = soup.find('table', {'class': 'table-scrollable'}).find('tbody').find_all('tr')

  for result in results:
    try:
      name.append(result.find('span',{'class':'lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
    except:
      name.append('n/a')
    try:
      price.append(result.find('td', {'class':'td-price price text-right'}).get_text().strip())
    except:
      price.append('n/a')
    try:
      change_1h.append(result.find('td', {'class':'td-change1h change1h stat-percent text-right col-market'}).get_text().strip())
    except:
      change_1h.append('n/a')
    try:
      change_24h.append(result.find('td', {'class':'td-change24h change24h stat-percent text-right col-market'}).get_text().strip())
    except:
      change_24h.append('n/a')
    try:
      change_7d.append(result.find('td', {'class':'td-change7d change7d stat-percent text-right col-market'}).get_text().strip())
    except:
      change_7d.append('n/a')
    try:
      volume_24h.append(result.find('td', {'class':'td-liquidity_score lit text-right col-market'}).get_text().strip())
    except:
      volume_24h.append('n/a')
    try:
      market_cap.append(result.find('td', {'class':'td-market_cap cap col-market cap-price text-right'}).get_text().strip())
    except:
      market_cap.append('n/a')

In [16]:
#The larger dataframe with 1000 rows, instead of 100 rows, has been created
crypto_df = pd.DataFrame({'coin':name,'price':price,'change_1h':change_1h,'change_24h':change_24h,'change_7d':change_7d, 'volume_24h':volume_24h, 'market_cap': market_cap})
crypto_df

,coin,price,change_1h,change_24h,change_7d,volume_24h,market_cap
0,Bitcoin,"$20,267.87",3.1%,5.3%,0.6%,"$29,157,924,972","$387,953,896,237"
1,Ethereum,"$1,691.01",2.0%,3.1%,6.4%,"$17,566,605,851","$203,635,116,244"
2,Tether,$1.00,0.2%,0.2%,0.1%,"$43,204,087,197","$67,733,654,987"
3,USD Coin,$1.00,-0.2%,0.3%,0.3%,"$6,027,846,227","$51,864,197,507"
4,BNB,$288.14,1.3%,2.9%,3.3%,"$648,296,045","$46,998,778,786"
...,...,...,...,...,...,...,...
995,Dollars,$1.63,?,?,?,?,"$7,844,731"
996,Cornucopias,$0.012798670335,1.2%,10.2%,6.6%,"$128,001","$7,840,660"
997,Scallop,$0.196558,1.1%,-0.4%,-3.1%,"$197,630","$7,819,941"
998,NAGA,$0.100069,-0.4%,12.7%,13.2%,"$205,425","$7,808,516"
999,Mad Viking Games,$0.001428860168,-0.0%,20.1%,53.8%,"$237,560","$7,793,779"

In [17]:
##Send dataframe to a csv file
crypto_df.to_csv('crypto_multiple_pages.csv', index = False)